---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

import { db, Comment } from "astro:db";

const comments = await db.select().from(Comment);
---

// Welcome to Astro! Wondering what to do next? Check out the Astro
documentation at https://docs.astro.build // Don't want to use any of this?
Delete everything in this file, the `assets`, `components`, and `layouts`
directories, and start fresh. ---

<Layout>
	<Welcome />
	<h2>Comments</h2>

	{
		comments.map(({ authorId, body }) => (
			<article>
				<p>Author: {authorId}</p>
				<p>{body}</p>
			</article>
		))
	}
</Layout>
